{% extends 'base.html' %}

{% block body %}
<br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
<h4>
    Agar siz kiritgan e-pochtada hisob mavjud boʻlsa, parolni oʻrnatish boʻyicha koʻrsatmalarni elektron pochta orqali yubordik.
     Siz ularni qisqa vaqt ichida olishingiz mumkin.
</h4><br>
  <h4>
    Agar elektron pochta xabarini olmagan bo'lsangiz, ro'yxatdan o'tgan manzilingizni kiritganingizga ishonch hosil qiling,
     va spam jildingizni tekshiring.
  </h4>
</div></div>
<div class="row">
  <div class="col-sm-8 offset-sm-2">
    <br>
      <a href="{% url 'homepage' %}" class="btn btn-outline-info">Raxmat!</a>
  </div>
</div>
</div>
  {% endblock %}